<form #productForm="ngForm" class="form-group container py-8" (ngSubmit)="onSubmit(productForm)">
    <input class="form-control" required type="text" name="name" placeholder="Name:" ngModel #name="ngModel" minlength="5">
    <div class="nameErrors" *ngIf="name.errors && (name.dirty || name.touched)">
        <div class="alert alert-danger" *ngIf="name.errors.required">Field name is required</div>
        <div class="alert alert-danger" *ngIf="name.errors.minlength">Field name is too short</div>
    </div>
    <input class="form-control" type="number" name="price" placeholder="Price:" ngModel min="0" step="0.01" >
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{{productForm.value | json}}
